<ion-content
  [scrollEvents]="true"
  (ionScroll)="doScroll($event)">
  <ion-toolbar [@navState]="navState">
    <ion-title>
      Bishop Brothers
    </ion-title>
  </ion-toolbar>
  <app-curve #curve></app-curve>
  Ben + Jack violin
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  More schtuff
</ion-content>
