<ion-content
  [scrollEvents]="true"
  (ionScroll)="doScroll($event)">
  <ion-toolbar [@navState]="navState">
    <ion-title>
      Bishop Brothers
    </ion-title>
  </ion-toolbar>
  <app-curve #curve></app-curve>
  <div style="text-align: center; margin: auto">
    <p style="margin-top: 200px; font-family: 'Playfair Display'; font-size: 1.5em; color: #737373;"><i>Violin duets and quartets for weddings, events, and by appointment</i></p>
    <ion-card style="margin-top: 150px;">
      <ion-card-header>
        <ion-card-subtitle>Jack and Ben Bishop</ion-card-subtitle>
        <ion-card-title><b>About Us</b></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        We have been practicing for the past 10 years to provide your event with professional violin duets. Contact us for music selection, event planning, or to organize a quartet.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-item>
        <ion-icon name="musical-notes" slot="start"></ion-icon>
        <ion-label><b>Music</b></ion-label>
        <ion-button href="https://www.youtube.com/channel/UC5Pk4RkoelFL0qAX9E64PQw" fill="outline" slot="end">Visit Us on Youtube</ion-button>
      </ion-item>
    
      <ion-card-content>
        <ion-col size=6>
          <iframe width="45%" height="400" src="https://www.youtube.com/embed/uJi6GUBwZGY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-col>
        <ion-col size=6>
          <iframe width="45%" height="400" src="https://www.youtube.com/embed/8IsauhEBRl0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ion-col>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-icon name="contacts" slot="start"></ion-icon>
        <ion-label><b>Contact</b></ion-label>
      </ion-item>
    
      <ion-card-content>
        Send us an email at <a href="mailto:bishopbrothers@gmail.com">bishopbrothers@gmail.com</a>
      </ion-card-content>
    </ion-card>
    <br>
    © Jack Bishop 2019
  </div>
</ion-content>
